<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/css/home.css">

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow text-white" style="background: transparent; border: none; width: 65rem;">
            <h1 class="card-title animate-fadeInUp text-center" style="animation-delay: 0.2s;">Edit Campground</h1>
            <div class="card-body">
                <div class="row col-6 offset-3">
                    <!-- as html don't support put, we need to override it with PUT at app.js-->
                    <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST" novalidate
                        class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3 animate-fadeInUp" style="animation-delay: 0.3s;">
                            <label class="form-label">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]"
                                value="<%= campground.title %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 animate-fadeInUp" style="animation-delay: 0.4s;">
                            <label class="form-label">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]"
                                value="<%= campground.location %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="input-group mb-3 animate-fadeInUp" style="animation-delay: 0.5s;">
                            <input type="file" class="form-control" id="image" name="image" multiple>
                            <label class="input-group-text" name="image" for="image">Upload More Images</label>
                        </div>

                        <div class="mb-3 animate-fadeInUp" style="animation-delay: 0.6s;">
                            <label class="form-label">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="number" min="0" class="form-control" id="price-label" placeholder="0.00"
                                    aria-label="Amount (to the nearest dollar)" name="campground[price]"
                                    value="<%= campground.price %>" required>
                                <span class="input-group-text" id="price-label">.00</span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 animate-fadeInUp" style="animation-delay: 0.7s;">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required><%= campground.description %></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 animate-fadeInUp" style="animation-delay: 0.8s;">
                            <% campground.images.forEach(function(img, i) {%>
                                <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" style="max-height: 200px;">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="img-<%= i %>" name="deleteImages[]"
                                        value="<%= img.filename %>">
                                </div>
                                <label for="img-<%= i %>">Delete?</label>
                                <% }) %>
                        </div>
                        <div class="d-flex justify-content-between animate-fadeInUp" style="animation-delay: 0.9s;">
                            <button class="btn btn-outline-info">Update Campground</button>
                            <button class="btn btn-outline-warning"><a href="/campgrounds" style="text-decoration: none; color: inherit">Back To Index Page</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
